html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
}

.header p {
    margin: 0px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

#container {
    position: relative;
    width: 1000px;
    height: 700px;
}

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.controlWidget {
    position: absolute;
    top: 100px;
    right: 16px;
    width: 500px;
    height: 400px;
}

.header {
    height: 50px;
    background-color: lightgrey;
}

.axis {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
